<!DOCTYPE html>
<html>
<head>
    <title>My Products</title>
</head>

<body>

    <h1>My Products</h1>

    <a href="{% url 'add_product' %}">
        Add Product
    </a>

    <br><br>

    <table border="1">

        <thead>
            <tr>
                <th>ID</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Product ID</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>

            {% for product in products %}

            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.product_id }}</td>

                <td>
                    <form method="POST"
                          action="{% url 'delete_product' product.id %}">

                        {% csrf_token %}

                        <button style="color : red" type="submit">
                            Delete
                        </button>

                    </form>
                </td>

            </tr>

            {% empty %}

            <tr>
                <td colspan="5">
                    No products found.
                </td>
            </tr>

            {% endfor %}

        </tbody>

    </table>

</body>
</html>